@import '../../scss/variables.scss';

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.nav_button {
  background-color: rgb(114, 114, 114);
  width: 49%;
  height: 70px;
  line-height: 40px;
  border-radius: 10px;

  // height: 40px;

  &.prev {
    text-align: right;
    &::before {
      position: relative;
      float: left;
      top: 7px;
      left: 10px;

      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;

      background-color: whitesmoke;
      cursor: pointer;
      background-image: url('./assets/arrow.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &.next {
    &::after {
      position: relative;
      float: right;
      top: 7px;
      right: 10px;

      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;

      background-color: whitesmoke;
      background-image: url('./assets/arrow.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: rotate(180deg);
    }
  }
  &:hover {
    background-color: #12a7d3;
  }
  .name {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav_button {
    .name {
      display: inline-block;
      color: black;
      text-transform: capitalize;
    }
  }

  .number {
  }
}
