@import '../../scss/variables.scss';

.header {
  position: fixed;
  background-color: #253237;
  height: 80px;
  z-index: 100;
  &_logo {
    margin: 10px auto;
    width: 50%;
    max-height: 70px;
    text-align: center;
    img {
      width: 100%;
      max-height: 90%;
    }
  }
  .container {
    display: flex;

    background-color: #253237;
    height: 80px;
  }
  &_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    top: 35px;
    right: 30px;
    z-index: 3;
    span {
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      z-index: 3;
    }

    &::before {
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
    }
    &::after {
      content: '';
      background-color: white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
    }
    &.active {
      &::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      span {
        display: none;
      }
    }
  }
}
.nav {
  position: absolute;
  background-color: #c9a13d;
  display: flex;
  flex-direction: column;
  top: -550px;
  // right: -500px;
  width: 0%;
  height: 100%;

  justify-content: space-around;
  align-items: center;

  z-index: -1;
  &_item {
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #243236;

    text-align: center;

    &:last-child {
      border-bottom: none;
    }

    a {
      font-family: 'Russo One';
      display: block;
      width: 100%;
      height: 100%;

      color: white;
      font-size: 24px;
      line-height: 200%;
    }
    &:active {
      background-color: #0abbd9;
    }
  }
}
.nav.opened {
  top: 80px;
  right: 0px;
  width: 100%;
  height: 200%;
  animation: open 0.3s;
}

@keyframes open {
  0% {
    top: -100px;
  }
  100% {
    top: 80px;
  }
}

@media (min-width: $tablet-width) {
  .header {
    width: 90%;

    &_logo {
      width: 50%;

      margin: 5px 15px;
      img {
        width: 70%;
        max-height: 70px;
      }
    }
    &_burger {
      display: none;
    }
  }
  .container {
    height: 80px;
    background-color: #253237;
    justify-content: space-between;
    align-items: center;
  }
  .nav,
  .nav.opened {
    width: 100%;
    background-color: transparent;
    position: static;
    flex-direction: row;
    justify-content: space-around;
    z-index: 1;

    &_item {
      border-left: 1px solid;

      a {
        font-size: 20px;
        line-height: 80px;
      }
    }
  }
  .nav_item:active {
    background-color: #0abbd9;
  }
}
@media (min-width: $desktop-width) {
  .header {
    position: static;
    width: 100%;
  }
  .container {
  }

  .nav_item {
    width: 100%;
    align-items: center;
    border: none;
  }
  .nav_item:hover {
    background-color: #0abbd9;
  }
}
