.button-next {
  display: inline-block;
  position: relative;
  background-color: rgb(46, 45, 45);
  margin: 10px;
  text-align: center;
  padding-top: 5px;
  color: white;
  width: 50%;
  height: 35px;
  border-radius: 10px;
  left: 25%;
  cursor: pointer;
}
