@import '../scss/variables.scss';

.minipage {
  padding-top: 10px;
  margin: 0 10px;
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (min-width: 620px) {
  .minipage {
    width: 100%;
  }
  .pokedex_mini {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
  .minipage {
    padding-top: 0;
  }
}
