// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import 'variables.scss';
@import './libs/_normalize.scss';

.pokemon-page {
  padding-top: 100px;
  &-name {
    color: #056475;
    font-family: 'Russo One';
    position: relative;
    text-align: center;
    line-height: 30px;

    width: 100%;
    background-color: #f2f2f2;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    // border-radius: 40px;
    margin-top: -30px;
    margin-bottom: 30px;
    z-index: 10;
  }

  .container-page {
    margin: 0 10%;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .text {
    margin: 10px;
  }

  .stats-title {
    margin: 10px auto;
    text-align: center;
  }
  .abilities {
    display: flex;
    justify-content: space-around;

    .pokemon-abilities {
      margin: 0;
    }
  }
  .pokemon-image {
    background-color: #f2f2f2;
    text-align: center;
    border-radius: 10px 10px;
    img {
      width: 100%;
    }
  }
  .stats {
    text-align: center;
    &-table {
      background-color: #a4a4a4;
      text-align: center;
      border-radius: 5px;
    }
    &-row {
      display: flex;
      height: 50px;
      //border-bottom: 1px solid;
      &:last-child {
        // border: none;
      }
    }

    &-name {
      font-family: 'Russo One';
      align-self: center;
      font-size: 12px;
      text-transform: uppercase;
      width: 30%;
    }
    &-value {
      align-self: center;
      background-color: white;
      width: 70%;
      border-radius: 5px;
      margin-right: 5%;
    }
    &-line {
      text-align: center;

      background-color: rgb(0, 140, 255);

      border-radius: 0 2px 2px 0;
      animation: lineup 2s;
    }
    @keyframes lineup {
      0% {
        width: 10%;
      }
      30% {
        width: 50%;
      }
    }
  }
  .info {
    min-height: 100px;
    padding: 20px;
    h3 {
      color: rgb(248, 218, 50);
      margin: 10px 0;
    }

    margin: 30px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 5px;
    background-color: #36bbdc;

    &-abilities {
      &_ability {
        text-transform: capitalize;
        font-family: 'Russo One';
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .pokemon-page-name {
    font-size: 22px;
  }
  .pokemon-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 150px 1;
    margin: 0 10px;
    grid-template-areas:
      'image text'
      'image info'
      'types none'
      'stats stats';

    margin-bottom: 20px;
  }

  .pokemon-image {
    grid-area: image;
  }

  .types {
    grid-area: types;
  }

  .stats {
    grid-area: stats;
    margin-top: 20px;
    font-size: 20px;
    font-family: fantasy;

    .stats-name {
      font-size: 15px;
    }
  }

  .info {
    grid-area: info;
    width: 90%;
    h3 {
      font-family: Russo One;
      font-size: 16px;
    }
  }

  .text {
    grid-area: text;
    margin: 10px;
    height: 150px;
  }
}

@media (min-width: $desktop-width) {
  .pokemon-page {
    padding-top: 0;
    margin-top: 30px;
    .stats-name {
      font-size: 18px;
    }
  }
}
