@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import 'variables.scss';
@import './libs/_normalize.scss';
@import 'types.scss';
@import 'button-next.scss';
@import './pokemon-page.scss';
@import './pokemon-card.scss';

body {
  background-color: rgb(216, 216, 216);
}

.container {
  margin: 0px auto;
  background-image: url('../assets/img/background.jpg');
}
.main-title {
  padding-top: 100px;
  text-align: center;
}

.search {
  margin: 0 40px;
}

.pokedex {
  padding-top: 80px;
  text-align: center;
  &-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  &-item {
    margin: 10px;
    width: 250px;
    border: 1px solid #616161;
    border-radius: 2%;
    background-color: #00bbd9;

    img {
      width: 100%;
    }
  }
}

@media (min-width: $tablet-width) {
  body {
    background-image: url('../assets/img/images.jpg');
  }
  .container {
    max-width: 90%;
  }
  .pokedex-item {
    max-width: 30%;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1400px;
  }
  .main-title {
    padding: 0;
  }
  .pokedex {
    text-align: center;
    padding-top: 30px;
  }
  .pokedex-item {
    width: 20%;
  }
}
