@import 'variables.scss';

.bug {
  background: $bug;
}
.dragon {
  background: $dragon;
}
.fairy {
  background: $fairy;
}
.fire {
  background: $fire;
}
.ghost {
  background: $ghost;
}
.ground {
  background: $ground;
}
.normal {
  background: $normal;
}
.psychic {
  background: $psychic;
}
.steel {
  background: $steel;
}
.dark {
  background: $dark;
}
.electric {
  background: $electric;
}
.fighting {
  background: $fighting;
}
.flying {
  background: $flying;
}
.grass {
  background: $grass;
}
.ice {
  background: $ice;
}
.poison {
  background: $poison;
}
.rock {
  background: $rock;
}
.water {
  background: $water;
}
